name: '$(Build.SourceBranchName)$(System.PullRequest.SourceBranch)$(Rev:.r)'

trigger:
  - main
  - feature/*
  - release/*

pr:
  - main
  - releases/*

parameters:
  - name: prDeployment
    type: boolean
    default: true
  - name: branchDeployment
    type: boolean
    default: true
  - name: sndDeployment
    type: boolean
    default: true

resources:
  repositories:
    - repository: templates
      endpoint: DEFRA
      type: github
      name: defra/fcp-pipeline-common
      ref: refs/heads/pl-1048

extends:
  template: fcp-common-pipeline.yaml@templates
  parameters:
    appFrameworkType: nodejs
    prDeployment: ${{ parameters.prDeployment }}
    branchDeployment: ${{ parameters.branchDeployment }}
    sndDeployment: ${{ parameters.sndDeployment }}
    variableGroupName: ffc-demo-apply-env-var
    pr_params:
      livenessProbe.timeoutSeconds: $(snd2_livenessProbe_timeoutSeconds)
      readinessProbe.failureThreshold: $(snd2_readinessProbe_failureThreshold)    
    snd2_params:
      livenessProbe.timeoutSeconds: $(snd2_livenessProbe_timeoutSeconds)
      readinessProbe.failureThreshold: $(snd2_readinessProbe_failureThreshold)
    dev_params:
      livenessProbe.timeoutSeconds: $(dev_livenessProbe_timeoutSeconds)      
    # failOnThreshold: high
    enableServiceNowChangeCreationDev: false
    enableServiceNowChangeCreation: false